div#container
{
   width: 1293px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   position:absolute;
   text-align:left;
   left:42px;
   top:209px;
   width:1189px;
   height:612px;
   z-index:6;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Line3
{
   border-width: 0;
   height: 38px;
   width: 8px;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Line4
{
   border-width: 0;
   height: 38px;
   width: 8px;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#Table1
{
   border: 2px #000000 solid;
   background-color: #DCDCDC;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   text-align: center;
   vertical-align: middle;
   width: 104px;
   height: 26px;
}
#Table1 .cell1
{
   text-align: center;
   vertical-align: middle;
   width: 109px;
   height: 26px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 104px;
   height: 28px;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 109px;
   height: 28px;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#Table2
{
   border: 2px #000000 solid;
   background-color: #DCDCDC;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 1px;
}
#Table2 td
{
   padding: 0px 0px 0px 0px;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 .cell0
{
   text-align: center;
   vertical-align: middle;
   width: 104px;
   height: 26px;
}
#Table2 .cell1
{
   text-align: center;
   vertical-align: middle;
   width: 109px;
   height: 26px;
}
#Table2 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 104px;
   height: 28px;
}
#Table2 .cell3
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 109px;
   height: 28px;
}
#Label2
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox1
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px #CCCCCC solid;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: top;
}
#Editbox2
{
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_jQueryButton1 .ui-widget
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#wb_jQueryButton1 .ui-button
{
   padding: 0;
   line-height: 38px;
}
#wb_jQueryButton1 .ui-corner-all, #wb_jQueryButton1 .ui-corner-left
{
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_jQueryButton1 .ui-corner-all, #wb_jQueryButton1 .ui-corner-right
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#jQueryTabs1.ui-widget
{
   font-size: 1em !important;
}
#jQueryTabs1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #FFFFFF;
   padding: 4px 4px 4px 4px;
}
#jQueryTabs1 .ui-tabs-nav
{
   background: transparent;
   border-width: 0;
   padding: 0;
   border-radius: 0 !important;
   font-family: Arial;
   font-weight: normal;
   padding: 4px 4px 0px 4px;
   font-size: 0;
   text-align: center;
}
#jQueryTabs1 .ui-tabs-nav li
{
   position: static;
   border-bottom: 1px solid #F5F5F5 !important;
   border-radius: 0;
   margin: 0;
   padding: 0;
   display: inline-block;
   float: none;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
}
#jQueryTabs1 .ui-tabs-nav li:first-child 
{
   border-radius: 6px 0 0 6px;
}
#jQueryTabs1 .ui-tabs-nav li:last-child 
{
   border-radius: 0 6px 6px 0;
}
#jQueryTabs1 .ui-tabs-nav li.ui-tabs-selected 
{
   padding-bottom: 0;
   border-bottom: 1px solid #6995C2 !important;
}
#jQueryTabs1 .ui-tabs-nav li a
{
   padding: 8px 10px 8px 10px;
   font-size: 13px;
}
#jQueryTabs1, #jQueryTabs1 .ui-corner-all, #jQueryTabs1 .ui-corner-top
{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#jQueryTabs1, #jQueryTabs1 .ui-corner-all, #jQueryTabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 6px;
   border-bottom-left-radius: 6px;
}
#jQueryTabs1 .ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border-color: #FFFFFF;
}
#jQueryTabs1 .ui-state-default, #jQueryTabs1 .ui-widget-content .ui-state-default
{
   border-color: #F5F5F5;
   background-color: #FFFFFF;
   background-image: none;
}
#jQueryTabs1 .ui-state-hover, #jQueryTabs1 .ui-widget-content .ui-state-hover
{
   border-color: #6995C2;
   background-color: #6995C2;
   background-image: none;
}
#jQueryTabs1 .ui-state-active, #jQueryTabs1 .ui-widget-content .ui-state-active
{
   border-color: #6995C2;
   background-color: #6995C2;
   background-image: none;
}
#jQueryTabs1 .ui-state-default a, #jQueryTabs1 .ui-widget-content .ui-state-default a
{
   color: #2B2B2B;
}
#jQueryTabs1 .ui-state-hover a, #jQueryTabs1 .ui-widget-content .ui-state-hover a
{
   color: #2B2B2B;
}
#jQueryTabs1 .ui-state-active a, #jQueryTabs1 .ui-widget-content .ui-state-active a
{
   color: #2B2B2B;
}
#jQueryTabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Scribble1
{
   border-width: 0;
   height: 184px;
   width: 1000px;
}
#Scribble2
{
   border-width: 0;
   height: 283px;
   width: 858px;
}
#Scribble3
{
   border-width: 0;
   height: 382px;
   width: 946px;
}
#Scribble4
{
   border-width: 0;
   height: 187px;
   width: 874px;
}
#Scribble5
{
   border-width: 0;
   height: 354px;
   width: 922px;
}
#Scribble6
{
   border-width: 0;
   height: 25px;
   width: 830px;
}
